<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OBASI E-LEARBING PLATFORM</title>
    <!-- <link rel="stylesheet" href="css/style.css"> -->
</head>
<style>
    /* input{
        display:inline;
        justify-content:center;
		box-sizing:border-box; border-radius:10px; 
        padding: 10px;
        margin: 10px;
    }

    label{
	font-size:1rem;
        display:block;
		box-sizing:border-box; 
		border-radius:20px; 
    } */

</style>
<header style="font-family: Cambria, Cochin, Georgia, Ti mes, 'Times New Roman', serif;text-align: center;background-color: rgb(221, 221, 222);color: rgb(102, 106, 106);font-family: sans-serif;font-style: unset;box-shadow:3px 3px 2px rgb(38, 38, 43);">
    <H1 style="text-align: center;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">OBASI LEARNING PLATFORM</H1>
    WELCOME <b style="color:green;">{{user.username}}!!!</b>

</header>