<style>
    #logout{
        background-color: crimson;
        border-radius: 80px 20px;
        font-size: 2rem;
        font-family: sans-serif;
        font-weight: bold;
        padding: 1%;
        margin: 15%;
        box-shadow:5px 5px rgb(20, 20, 20);
    }
</style>

<div id="logout">
 <h2>OHHHH you just logged out</h2>
 <p style="color: rgb(146, 146, 212);">Remember what you know can not be taken from you click  to <b style="color:green;"><a href="../login">login</a> </b>
     and learn more </p>


</div>