<html style="background-color: rgb(123, 114, 114);">
<h3 style="width: 200px; padding: 5px;text-align: center; border-radius: 50px; font-style: italic;font-family: Georgia, 'Times New Roman', Times, serif;background-color: lightgoldenrodyellow;">Favour E-learning platform</h3>


    <h2 style="position: fixed; top: 20%; background-color:rgb(43, 6, 27); color: green; font-size: 50px; padding: 70px; margin-left: auto; margin-right: auto; border-radius: 30px;text-align: center;"> CONTENT SUCCESSFUL UPLOADED</h2>
    <button style="padding: 25px;border-radius: 10px; color: white;font-size: larger; position: fixed; left: 40%; top: 60%; background-color:rgb(153, 161, 247);"> <a href="/">click to move back to home</a> </button>
</html>













