{% block content %}
{% load crispy_forms_tags %}
<body style="background-color: teal;">

  <link rel="stylesheet" href="https://­cdn.jsdelivr.net/npm/­bootstrap@4.6.2/dist/­css/bootstrap.min.css" integrity="sha384-xO­olHFLEh07PJGoPkLv1Ib­cEPTNtaed2xpHsD9ESMh­qIYd0nLMwNLD69Npy4HI­+N" crossorigin="anonymo­us">  
 

<header style="background-color: rgb(156, 156, 181);font-size:45px;text-align: center;font-weight: 500;">welcome to the Admin page {{ user.username}}<button style="float: right;margin: 6px; padding: 10px;background-color: rgb(216, 138, 138);"><a href="../">
  <b>Back --></b>
 </a></button></header> 
<h1>Update syllabus here </h1>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
  {{form.media}}
  {{form.as_p}}
    <!-- <input typkkkkkkkkkkkkkcke="file" name="myfile"> -->
    <button type="submit">Upload</button>
  </form>
  <hr>
  <script src="https://­cdn.jsdelivr.net/npm/­jquery@3.5.1/dist/­jquery.slim.min.js" integrity="sha384-Df­Xdz2htPH0lsSSs5nCTpu­j/­zy4C+OGpamoFVy38MVBnE­+IbbVYUew+OrCXaRkfj"­ crossorigin="anonymo­us"></script> <script src="https://­cdn.jsdelivr.net/npm/­bootstrap@4.6.2/dist/­js/­bootstrap.bundle.min.­js" integrity="sha384-Fy­6S3B9q64WdZWQUiU+q4/­2Lc9npb8tCaSX9FK7E8Hn­Rr0Jz8D6OP9dO5Vg3Q9c­t" crossorigin="anonymo­us"></script>

</body>
{% endblock %}